In [1]:
print("hello")

hello

In [2]:

import pandas as pd
movies=pd.read_csv("movies.csv")
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [3]:
# cleaning movie titles
import re
def clean_title(title):
    return re.sub("[^a-zA-Z0-9]","",title)

In [4]:
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [7]:
movies["clean_title"]=movies["title"].apply(clean_title)
movies["clean_title"]

0                      ToyStory1995
1                       Jumanji1995
2                GrumpierOldMen1995
3               WaitingtoExhale1995
4        FatheroftheBridePartII1995
                    ...
62418                        We2018
62419           WindowoftheSoul2001
62420                  BadPoems2018
62421                AGirlThing2001
62422       WomenofDevilsIsland1962
Name: clean_title, Length: 62423, dtype: object

In [3]:
#recommadation 1
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(ngram_range=(1,2))
tfidf=vectorizer.fit_transform(movies["clean_title"])

NameError: name 'movies' is not defined

In [2]:
#search engine
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
    title="Harry Potter"
    title=clean_title(title)
    query_vec=vectorizer.transform([title])
    similarity =cosine_similarity(query_vec,tfidf).flatten()
    indices=np.argpartition(similarity,-5)[-5:]
    results=movies.iloc[indices][::-1]
    return results

In [11]:
search("Harry potter")

NameError: name 'clean_title' is not defined

In [8]:
#search engine
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
    title="Harry Potter"
    title=clean_title(title)
    query_vec=vectorizer.transform([title])
    similarity =cosine_similarity(query_vec,tfidf).flatten()
    indices=np.argpartition(similarity,-5)[-5:]
    results=movies.iloc[indices][::-1]
    return results
import ipywidgets as widgets
from IPython.display import display
movie_input=widgets.Text(
    value="Harry Potter",
    description="Movie Title:",
    disabled=False
)
movie_list=widgets.Output()

def on_type(data):
     with movie_list:
         movie_list.clear_output()
         title=data["new"]
         if len(title) > 5:
             display(search(title))


movie_input.observe(on_type,names='value')
display(movie_input,movie_list)

Text(value='Harry Potter', description='Movie Title:')

Output()

In [5]:
#search engine
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np
def search(title):
    title="harry poter"
    title=clean_title(title)
    query_vec=vectorizer.transform([title])
    similarity =cosine_similarity(query_vec,tfidf).flatten()
    indices=np.argpartition(similarity,-5)[-5:]
    results=movies.iloc[indices][::-1]
    return results
import ipywidgets as widgets
from IPython.display import display
movie_input=widgets.Text(
    value="Harry Potter",
    description="Movie Title:",
    disabled=False
)
movie_list=widgets.Output()
def on_type(data):
    global last_time_called
    current_time = time.time()
    if current_time - last_time_called < 0.5:  # 500ms debounce
        return
    last_time_called = current_time

    with movie_list:
        clear_output(wait=True)
        title = data["new"]
        if len(title) > 5:
            results = search(title)
            display(results)
movie_input.observe(on_type,names='value')
display(movie_input,movie_list)

Text(value='Harry Potter', description='Movie Title:')

Output()

In [5]:
movie_name_input=widgets.Text(
    value="toy story",
    description="Movie Title:",
    disabled=false)
recommendation_list=widgets.output()
def on_type(data):
    with recommendation_list:
        recommendation_list.clear_output()
        title=data["new"]
        if len(title)>5:
            results=search[title]
            movie_id=results.iloc[0]["moviesId"]
            display(find_similar_movies(movies(movie_id)))
            movie_name_input.observe(on_type,name="value")
            display(movie_name_input,recommendation_list)

NameError: name 'widgets' is not defined